/*{ 
  width:603px;
  height:396px;
 }*/
/*
@media only screen and (min-width:2000px){
  .threesixty{
    margin-top:20px;
    margin-left:50%; 
    
    background: #fff;
    width: 500px;
    height:350px;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
    box-shadow: 30px 2px 70px 2px rgba(0, 0, 0, 0.01);  
  }
 
  .threesixty-frame{
    border-radius: 20px;
    width:250px;
    height:150px;
  } 
} 
@media only screen and (min-width:1000px){
.threesixty{
  margin-top: 20px;
  margin-left:25%; 
  align-content: center;
  background: #fff;
  width: 500px;
  height:350px;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  box-shadow: 30px 2px 70px 2px rgba(0, 0, 0, 0.01);  
} 
 
.threesixty-frame{
  border-radius: 20px;
  width:250px;
  height:150px;
} 
}

@media only screen and (max-width:550px) {
.threesixty{
  margin-top: 20px;
  margin-left: 13%;
  background: #fff;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  box-shadow: 30px 2px 70px 2px rgba(0, 0, 0, 0.01);  
}
  
.threesixty-frame{
  border-radius: 20px;
  width:250px;
  height:150px;
} 
}
@media only screen and (max-width:700px) {
  .threesixty{
    margin-top: 20px;
     margin-left: 15%;
    align-content: center;
     background: #fff;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
    box-shadow: 30px 2px 70px 2px rgba(0, 0, 0, 0.01);  
  }
    
  .threesixty-frame{
    border-radius: 20px;
    width:400px;
    height:300px;
  } 
  }  */ 
:fullscreen .threesixty-frame{
  width : 50%;
  height: 30%;
}
:fullscreen{
  background-color: white;
}
:fullscreen .enlarge{
  top:10%;
  left: 90%;
  position: absolute;
  background-color: white;
  mix-blend-mode:multiply; 
}
  .threesixty-frame{
    margin: 0 auto;
    border-radius: 20px;
    /* width:400px;
    height:300px; */
    width: 30%;
    height: 30%;
    background-color: white;
    box-shadow: 30px 5px 70px 5px rgba(37, 37, 37, 0.10);  
    overflow: auto;
    /* translate: transsform(-50%,-50%); */
  } 

  .centered {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:1;
    color: rgb(39, 117, 3);
    font-size: x-small;
    font-family: "Lato", sans-serif;
    overflow: auto;
  }


  h1{
    margin: auto;
  }
  @media only screen and (max-width:600px){
    .threesixty-frame{
      margin: 0 auto;
      border-radius: 20px;
      width:50%;
      height:30%;
      box-shadow: 30px 5px 70px 5px rgba(37, 37, 37, 0.10);  
      overflow: auto;
    } 
    .centered {
      position: absolute; 
      top:28%;
      left:50%;
      margin: auto;
      transform: translate(-50%,-50%);
      z-index:1;
      color: rgb(41, 131, 0);
      font-size: small;
      font-family: "Lato", sans-serif;
      overflow: auto;
    }
    :fullscreen .threesixty-frame{
      width : 70%;
      height: 50%;
    }    
    .enlarge{
      z-index:11;
      top:10%;
      margin-left:10%;
      position: absolute;
      border:0;
      mix-blend-mode: multiply;
      border-style: none;
    
    }
    :fullscreen .enlarge{
      top:10%;
      left: 70%;
      position: absolute;
      background-color: white;
      mix-blend-mode:multiply; 
    }

  }

  @media only screen and (max-width:300px){
    .threesixty-frame{
      margin: 0 auto;
      border-radius: 10px;
      width:50%px;
      height:30%px;
      box-shadow: 30px 5px 70px 5px rgba(37, 37, 37, 0.10);  
      overflow: auto;
    }
    h1{
      font-size: small;
    }

    :fullscreen .threesixty-frame{
      width : 70% !important;
      height: 50% !important;
    }  
    .enlarge{
      top:0%;
      left: 60%;
      position: absolute;
    }
    :fullscreen .enlarge{
      top:10%;
      left:2%;
      mix-blend-mode: color;
    }

  }

.enlarge{
  z-index:11;
  top:10%;
  left: 60%;
  position: absolute;
  border:0;
  mix-blend-mode: multiply;
  border-style: none;

}