/*{ 
  width:603px;
  height:396px;
 }*/
/*
@media only screen and (min-width:2000px){
  .threesixty{
    margin-top:20px;
    margin-left:50%; 
    
    background: #fff;
    width: 500px;
    height:350px;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
    box-shadow: 30px 2px 70px 2px rgba(0, 0, 0, 0.01);  
  }
 
  .threesixty-frame{
    border-radius: 20px;
    width:250px;
    height:150px;
  } 
} 
@media only screen and (min-width:1000px){
.threesixty{
  margin-top: 20px;
  margin-left:25%; 
  align-content: center;
  background: #fff;
  width: 500px;
  height:350px;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  box-shadow: 30px 2px 70px 2px rgba(0, 0, 0, 0.01);  
} 
 
.threesixty-frame{
  border-radius: 20px;
  width:250px;
  height:150px;
} 
}

@media only screen and (max-width:550px) {
.threesixty{
  margin-top: 20px;
  margin-left: 13%;
  background: #fff;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  box-shadow: 30px 2px 70px 2px rgba(0, 0, 0, 0.01);  
}
  
.threesixty-frame{
  border-radius: 20px;
  width:250px;
  height:150px;
} 
}
@media only screen and (max-width:700px) {
  .threesixty{
    margin-top: 20px;
     margin-left: 15%;
    align-content: center;
     background: #fff;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
    box-shadow: 30px 2px 70px 2px rgba(0, 0, 0, 0.01);  
  }
    
  .threesixty-frame{
    border-radius: 20px;
    width:400px;
    height:300px;
  } 
  }  */ 

  .threesixty-frame{
    margin:0 auto;
    border-radius: 20px;
    width:400px;
    height:300px;
    box-shadow: 30px 5px 70px 5px rgba(37, 37, 37, 0.10);  
  } 